{% assign hasProtect = false %}
{% assign protectIndex = 1 %}
{% assign hasRush = false %}
{% assign rushIndex = 2 %}
{% for item in cart.items %}
  {% if item.product.id == settings.protect_order_product.id %}
    {% assign hasProtect = true %}
    {% assign protectIndex = forloop.index %}
  {% endif %}
  {% if item.product.id == settings.rush_order_product.id %}
    {% assign hasRush = true %}
    {% assign rushIndex = forloop.index %}
  {% endif %}
{% endfor %}
<div
  id='cart-count'
  data-protect='{{ hasProtect }}'
  data-protect-index='{{ protectIndex }}'
  data-rush='{{ hasRush }}'
  data-rush-index='{{ rushIndex }}'
>
  {%- if cart.item_count < 100 -%}
    <span
      aria-hidden='true'
      class='flex justify-center items-center h-full text-xs leading-none'
    >
      {% if hasProtect and hasRush %}
        {{ cart.item_count | minus: 2 }}
      {% elsif hasProtect or hasRush %}
        {{ cart.item_count | minus: 1 }}
      {% else %}
        {{ cart.item_count }}
      {% endif %}
    </span>
  {% else %}
    <span
      aria-hidden='true'
      class='flex justify-center items-center h-full text-xs'
      >+99</span
    >
  {%- endif -%}
</div>
